.chat-wrapper {
  height: 100vh;
  background: #1bbd36;
}

.chat-info,
.chat-messages,
.chat-message {
  background: #fff;
}

.message {
  background: #bbd7c0;
}

.message p {
  color: #000;
}

.message-user {
  font-weight: 700;
}

.txt-message {
  resize: none;
}

.btn-send-message {
  background: #1bbd36;
  font-size: 30px;
  color: #fff;
}